.App {
  text-align: center;
  background-color: powderblue;
}
.addtodo{
	height:28px;
	width: 100px;
	background-color: vowel;
	border:2px solid ;
	color:blue;
	text-align: center;
	font-size: 18px;
}
.deletedtodo{
	height:28px;
	width: 145px;
	background-color: vowel;
	border:2px solid ;
	color:blue;
	text-align: center;
	font-size: 18px;
}
.edittodo{
	height:28px;
	width: 105px;
	background-color: vowel;
	border:2px solid ;
	color:blue;
	text-align: center;
	font-size: 18px;
}
.l1{
	width: 100px;
	height:30px;
}
.input{
	text-align: center;
	font-size: 20px;
	width:200px;
	height:30px;

}
.editclass
{
	text-align: center;
	font-size: 20px;
	width:200px;
	height:30px;
	margin-left: 9px;

}
.editsubmit{
	height:28px;
	width: 100px;
	background-color: vowel;
	border:2px solid ;
	color:blue;
	text-align: center;
	font-size: 18px;

}
.search{
	text-align: center;
	font-size: 20px;
	width:200px;
	height:30px;

}
.d{
	font-size: 30px;
	color: red;
}






